<form>

  <div *ngIf="isModelReady">
    <p>{{ isNewBook() ? "Add Book" : "Edit Book"}}</p>
  </div>


  <table width="100%">
    <tr>
      <td>
        <mat-form-field appearance="outline" name="id" class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="bookInfo.id" name="id">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </td>

    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline" name="isbn" class="example-full-width">
          <mat-label>Isbn</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="bookInfo.isbn" name="isbn">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline" name="title" class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="bookInfo.title" name="title">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline" name="pageCount" class="example-full-width">
          <mat-label>Page Count</mat-label>
          <input matInput placeholder="Placeholder" [(ngModel)]="bookInfo.pageCount" name="pageCount">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <div class="saveCancelButtonContainer">
        <button mat-raised-button (click)="onBackToListClicked()">Back To List</button>
        <button mat-raised-button>Save</button>
        <button mat-raised-button>Cancel</button>
      </div>
    </tr>
  </table>
</form>
