<p>
  booklist works!
</p>

<div>
  <div>
    <p>Filter by title: <input type="text" [(ngModel)]="filterByTitleString" width="300px"></p>
  </div>

  <br>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <td>Title</td>
      <td>Page count</td>
      <td>Description</td>
      <td>Authors</td>

      <td>Operations</td>
    </tr>
    <tr *ngFor="let book of allTheBooks | callbackPipe : filterByTitleFunc : filterByTitleString ">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.pageCount}}</td>
      <td>{{ book.description}}</td>
      <td>
        <ul class="list-group">
          <li *ngFor="let author of book.authors" >
            {{ author.id }} - {{ author.name}}
          </li>
        </ul>
      </td>
      <td>
        <button class="btn btn-primary" (click)="onEdit(book.id)">Edit</button>

        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>

  </table>
  <button class="btn btn-primary" (click)="onNewBook()">New</button>
  <button class="btn btn-primary" (click)="onFetchBooksFromServer()">Fetch books from server</button>
</div>
